<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/materialize.min.css">
  <link rel="stylesheet" href="css/material-icons.css">
  <link rel="stylesheet" href="css/snackbar.min.css">
  <link rel="stylesheet" href="css/emoji.css">
  <link rel="stylesheet" href="css/extra.css">
  <title>xenon</title>
</head>
<body>
  <main />
</body>


<script src="js/materialize.min.js"></script>
<script src="js/snackbar.min.js"></script>
<script src="js/riot.min.js"></script>
<script src="js/rtag.min.js"></script>
<script src="dist/main.min.js"></script>

<script>
  // initializer for jqury because it's inside electronjs 
  window.$ = window.jQuery = require('jquery');

  // global events
  var sharedObservable = riot.observable();
  
  // mount riot module
  riot.mount('*');
</script>

</html>